.button{
  width: 232px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #19255e;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f1948), to(#19255e));
  background: linear-gradient(to bottom, #0f1948, #19255e);
  border-radius: 5px;
  -webkit-box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4), 2px 2px 4px 0 rgba(0, 0, 0, 0.8);
  box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4), 2px 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.button_on{
  background: #ff994a;
}
