@import '_reset.scss';
@import '_mixin.scss';

.button{
  width: 232px;
  height: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #19255e;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f1948), to(#19255e));
  background: linear-gradient(to bottom, #0f1948, #19255e);
  border-radius: 5px;
  -webkit-box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4), 2px 2px 4px 0 rgba(0, 0, 0, 0.8);
  box-shadow: -2px -2px 3px rgba(119, 119, 255, 0.4), 2px 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.button.on{
  background: #ff994a;
}

.hcircle{
  margin: 0px 0px 0px 20px;
  position: relative;
  @include dflx_ac_jcent;
  .cout{
      position: absolute;
      right: -6px;
      top:-2px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #ff4f19;
      color: #fff;
      font-size: 12px;
      @include dflx_ac_jcent;
  }
}
.hcircle .hidd_zone{
  display: none;
}
.hcircle_on .hidd_zone{
  display: block;
}